.header{
  padding-top:15px;
  height: 100px;
  background-color:#ffffff;
}

.top-bar{  
  padding:0 !important;
  background-color:#e89100 !important;
  ul{
    background-color:#e89100 !important;  
    li{
      a{
        padding:16px;
        color:#fff !important;
        &:hover{
          background-color:lighten(#e89100,10%);
        }
      }
    }
  }  
}
