.header{
  padding-top:15px;
  height: 100px;
  background-color:#ffffff;
}
.sticky-wrapper{
  width:100%;  
  position:relative;
}
.top-bar{  
  width:100%;  
  padding:0 !important;  
  .top-bar-left{
    background-color:#e89100 !important;
    width:100%;
  }
  button.menu-icon{
    margin:16px;
  }
  ul{
    background-color:#e89100 !important;  
    li{
      a{
        padding:16px;
        color:#fff !important;
        &:hover{
          background-color:lighten(#e89100,10%);
        }
      }
    }
  }  
}
