.home-wrapper
  .banner-wrapper{:style => "background-image: url('"+image_url('banner1.jpg')+"');"}    
    .text
      %span{:style => "color:#e89100"}Successful
      %span{:style => "color:#b2d79a"}learning
      %br      
      %small in small groups
  .small-12.columns    
    %iframe{:width => "435", :height => "245", :src => "https://www.youtube.com/embed/oUfnMf9Zw00", :allowfullscreen => true}
