.home-wrapper  
  .banner-wrapper{:style => "background-image: url('"+image_url('banner1.jpg')+"');"}    
    .text
      %span{:style => "color:#b2d79a;"} Your
      %span{:style => "color:#e89100;"} talent
      %span{:style => "color:#b2d79a;"} and your
      %span{:style => "color:#e89100;"} passion
      %br
      %span{:style => "color:#b2d79a;"} have always been there              
  .small-12.columns    
    %h1=t('home.title2')
    %p=t('home.passage1').html_safe
    %p=t('home.passage2').html_safe
  .small-12.columns
    %h2=t('home.title3') 
    %p=t('home.passage3').html_safe
    %p=t('home.passage4').html_safe
    %p=t('home.passage5').html_safe