.home-wrapper
  .banner-wrapper{:style => "background-image: url('"+image_url('banner1.jpg')+"');"}    
    .text
      %span{:style => "color:#e89100"}Successful
      %span{:style => "color:#b2d79a"}learning
      %br      
      %span{:style => "color:#b2d79a"} in small groups
  .small-12.columns
    %p
      %h1=t('home.title2')
  .small-12.columns    
    %h3=t('home.title')
    %p=t('home.passage1').html_safe
    %p=t('home.passage2').html_safe
  .small-12.columns
    %h3=t('home.title3') 
    %p=t('home.passage3').html_safe
    %p=t('home.passage4').html_safe
    %p=t('home.passage5').html_safe