.home-wrapper  
  .banner-wrapper{:style => "background-image: url('"+image_url('banner1.jpg')+"');"}    
    .text
      =t('home.title').html_safe
  .small-12.columns    
    %h1=t('home.title2')
    %p=t('home.passage1').html_safe
    %p=t('home.passage2').html_safe
  .small-12.columns
    %h2=t('home.title3') 
    %p=t('home.passage3').html_safe
    %p=t('home.passage4').html_safe
    %p=t('home.passage5').html_safe