.levels-wrapper
  .small-12.columns 
    %h1=t('levels.title')
    %p
      %h2=t('levels.subtitle1')
      =t('levels.text1')
    %p
      %h2=t('levels.subtitle2')
      =t('levels.text2')
    %p
      %h2=t('levels.subtitle3')
      =t('levels.text3')
    %p
      %h2=t('levels.subtitle4')
      =t('levels.text4')
    %p
      %h2=t('levels.subtitle5')
      =t('levels.text5')
    %p
      %h2=t('levels.subtitle6')
      =t('levels.text6')
    
