.courses-wrapper
  .small-12.columns
    %h1=t('courses.title')
    %p
      %h2=t('courses.title2')
      =t('courses.passage2-1')
      %ul
        %li=t('courses.list2-1-1')
        %li=t('courses.list2-1-2')
    %p
      =t('courses.passage2-2')
    %p
      =t('courses.passage2-3')    
    %p
      %h2=t('courses.title3')
      =t('courses.passage3-1').html_safe
    %p
      %h2=t('courses.title4')
      =t('courses.passage4-1').html_safe
    %p
      %h2
        =t('courses.title5')
        %i
          =t('courses.subtitle5')
      %ul
        %li
          =t('courses.list5-1-1').html_safe
          %br
          =t('courses.list5-1-1-text').html_safe
        %li=t('courses.list5-1-2').html_safe
        %ul
        %li
          =t('courses.list5-1-3').html_safe
          %br
          =t('courses.list5-1-3-text').html_safe
    
