.pedagogy-wrapper
  .small-12.columns 
    %h1=t('pedagogy.title')
    %p
      =t('pedagogy.passage1')
    %ul
      %li
        =t('pedagogy.bullet1')
      %li
        =t('pedagogy.bullet2')
      %li
        =t('pedagogy.bullet3')
      %li
        =t('pedagogy.bullet4')
