.small-12.medium-4.columns
  %p
    %h5 Sitemap
    %ul
      %li
        =link_to 'Home', '#'
.small-12.medium-4.columns
  %p
    %h5 Social
    %ul
      %li
        =link_to 'Home', '#'
.small-12.medium-4.columns
  %p
    %h5 Contact
    %ul
      %li
        =link_to 'Home', '#'
.small-12.columns
  %p
    %h5 &copy; Academia
  %p
    %small Website created by Stephen Edwards
