.small-12.medium-3.columns
  %h5 Sitemap
  %ul
    %li
      =link_to 'Home', '#'
.small-12.medium-3.columns
  %h5 Sitemap
  %ul
    %li
      =link_to 'Home', '#'
.small-12.medium-3.columns
  %h5 Sitemap
  %ul
    %li
      =link_to 'Home', '#'
.small-12.medium-3.columns
  %h5 Sitemap
  %ul
    %li
      =link_to 'Home', '#'
