.small-12.medium-4.columns
  %p
    %h3 Sitemap
    %ul
      %li
        =link_to 'Home', '#'
.small-12.medium-4.columns
  %p
    %h3 Social
    %ul
      %li
        =link_to 'Home', '#'
.small-12.medium-4.columns
  %p
    %h3 Contact
    %ul
      %li
        =link_to 'Home', '#'
.small-12.columns
  %p
    %h3 &copy; Academia
  %p
    %small Website created by Stephen Edwards
