.side-menu  
  %ul.vertical.menu
    %li
      =link_to t('menu.home'), url_for(:controller => "home", :action => "index")
    %li
      =link_to t('menu.vision'), url_for(:controller => "vision", :action => "index")
    %li
      =link_to t('menu.pedagogy'), url_for(:controller => "pedagogy", :action => "index")
    %li
      =link_to t('menu.levels'), url_for(:controller => "levels", :action => "index")
    %li
      =link_to t('menu.courses'), url_for(:controller => "courses", :action => "index")
    %li
      =link_to t('menu.contact'), '#'
