.row
  .header
    .small-12.columns
      =image_tag "logo-academia.png"
  .sticky-wrapper#anchortop{:"data-sticky-container" => true}
    .top-bar.sticky{:"data-sticky" => true, :"data-top-anchor" => "anchortop", :"data-btm-anchor" => "site:bottom", :"data-options" => "marginTop:0;stickyOn:small"}
      .top-bar-left
        %button.menu-icon.hide-for-medium{:type => "button", :"data-open" => "leftMenu"}
        %ul.menu.show-for-medium  
          %li
            =link_to t('menu.home'), url_for(:controller => "home", :action => "index")
          %li
            =link_to t('menu.vision'), url_for(:controller => "vision", :action => "index")
          %li
            =link_to t('menu.pedagogy'), '#'
          %li
            =link_to t('menu.levels'), '#'
          %li
            =link_to t('menu.contact'), '#'