!!!5
%html
  %head
    %title Academia
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true    
    = csrf_meta_tags
  %body
    =render "layouts/topbar"     
    .row
      .content 
        = yield
    .row
      .footer
        =render 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true