!!!5
%html
  %head
    %title Academia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true    
    = csrf_meta_tags
  %body
    =render "layouts/topbar"     
    .row
      .content 
        = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true